<h1>Login</h1>
<div ng-show="login.authData">
	<p>Hello, {{ login.authData.facebook.displayName }}</p>
	<button ng-click="login.auth.$unauth()">Logout</button>
</div>
<div ng-hide="login.authData">
	<p>Welcome, please log in.</p>
	<button ng-click="login.login()">Login With Facebook</button>
</div>
<i class="material-icons">info</i>
<i class="material-icons">schedule</i>
<i class="material-icons md-48">rowing</i>
<i class="material-icons md-48 md-dark">rowing</i>
<i class="material-icons md-48 md-dark md-inactive">rowing</i>
<div style="background-color: black;">
	<i class="material-icons md-48 md-light">rowing</i>
	<i class="material-icons md-48 md-light md-inactive">rowing</i>
</div>
<md-icon class="material-icons step">info</md-icon>
